# =============== #
# Unity generated #
# =============== #
_WorkingDir
_WorkingDir.meta
Temp/
Library/
Logs/
Recordings/
UserSettings/
UserSettings/EditorUserSettings.asset
Assets/Gamelogic.meta
Assets/Gamelogic/
Assets/JsonDotNet.meta
Assets/NGUI.meta
Assets/NGUI/
Assets/Plugins/DOTween.meta
Assets/Plugins/DOTween/
Assets/codeandweb.com.meta
Assets/Logs/

# Builds
Builds/
Builds.meta

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj
.vs/

# ====== #
# VSCode #
# ====== #
.vscode

# ====== #
# Rider  #
# ====== #
.idea
JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll
JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll.meta
Assets/Plugins/Editor/JetBrains.meta
Assets/Plugins/Editor.meta

# ======== #
# Unity VS #
# ======== #
Assets/UnityVS
Assets/UnityVS.meta

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Thumbs.db.meta

# ==== #
# FMOD #
# ==== #
fmod.log
fmod_editor.log
Assets/FMODStudioCache.asset
Assets/FMODStudioCache.asset.meta

# ===== #
# Other #
# ===== #
config.json
Assets/-DOTweenTimelineEditorSettings.asset
ProjectSettings/TimelineSettings.asset
Assets/Shared/Data/State/Backup_*.bytes
Assets/Shared/Data/State/Backup_*.bytes.meta
Assets/Shared/Data/State/QuickSave*.bytes
Assets/Shared/Data/State/QuickSave*.bytes.meta
Sources
bin
TopDownVoxelsEngineUnity/Assets/Samples
TopDownVoxelsEngineUnity/Assets/Samples.meta
.env
